<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coconutbmp.leash">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leash"
        tools:targetApi="31">
        <activity
            android:name=".AddIncomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Leash.NoActionBar"/>
        <activity
            android:name=".AddTransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Leash.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Budget"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Leash.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Leash.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Leash.NoActionBar" />

        <activity
            android:name=".AddLiabilityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Leash.NoActionBar"/>

        <activity
            android:name=".LiabilityDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Leash.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>